/* Colour Vars */
:root {
	--rtb-body: #354fb9;
	--rtb-times: #354fb9;
	--rtb-appbg: #d3eeff;
	--rtb-light: #8bd4ff;
	--rtb-middle: #17d1f0;
	--rtb-dark: #51a5ff;
	--rtb-radi: 1.75rem;
	--rtb-shadow: rgba(0,0,50,0.1);
}

@media (prefers-color-scheme: dark) {
	:root {
		--rtb-body: #eee;
		--rtb-times: #2d46aa;
		--rtb-appbg: #1d2f77;
		--rtb-middle: #16c5e1;
	}
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
	height: 100%;
	margin: 0;
	}

body {
	padding: .25rem;
	font: normal 100%/1.5 system-ui, -apple-system, "Open Sans Regular", "Segoe UI", Thonburi, "Lucida Grande", Arial, sans-serif;
	text-align: center;
	color: #354fb9;
	color: var(--rtb-body);
	background-color: #d3eeff;
	background-color: var(--rtb-appbg);
}

@media only screen and (min-height:480px) {
	body {
		padding: .75rem;
		font-size: 112.5%;
		display: flex;
		place-content: center; 
		place-items: center;
	}

	.wrap {
		flex: 1 1 auto;
		max-width: 480px;
	}
}

header {overflow: auto}

.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
	overflow: clip;
}

/* .wrap {
	flex: 1 1 auto;
	max-width: 480px;
} */

/* .highlight {
	color: inherit;
} */

.large {font-size: 3.75rem}

h3 {
	font-weight: normal;
	margin: -.25rem auto 0rem;
}

h1, p, button {
	margin: 0 auto 1rem;
}

h1 {
	padding-right: .25rem;
	line-height: 1;
	margin-bottom: 1rem;
}

.hero--font {
	font-weight: 800;
}

a {
	color: currentColor;
}
	
time {
	display: block;
	font-variant-numeric: tabular-nums;
}

/* 
* Date Elements 
*/
.panel {
	position: relative;
	margin: 2rem auto;
}

[class^='timer__value--'] {
	position: relative;
	padding: 1.25rem 0;
	border: 0;
	margin-top: -1.375rem;
	background-color: var(--rtb-stripe, #59eac3);
	color: var(--rtb-times);
	border-radius: 0em var(--rtb-radi) 0 0;
}

[class^='timer__value--'] time,
[class^='timer__value--'] p {
	font-size: 2.5rem;
	padding: .5rem;
	margin: -1rem auto -.5rem;
}

[class^='timer__value--']:first-of-type {
	margin-top: 0;
	padding-bottom: 1.75rem;		
}

[class^='timer__value--']:last-of-type {
	border-bottom-right-radius: var(--rtb-radi);
	border-bottom-left-radius: var(--rtb-radi);
}

[class^='timer__value--']:before,
[class^='timer__value--']:after {
	position: absolute;
	z-index: 51;
	content: "";
	display: block;
	width: 2.25rem;
	height: 2.25rem;
	top: 0;
	left: 0;
	-webkit-transform: translate(0, -2.25rem);
	transform: translate(0, -2.25rem);
	background-color: inherit;
}

[class^='timer__value--']:after {
	width: 2.5em;
	left: 0.0625rem;
	z-index: 52;
	border-bottom-left-radius: 3rem;	
	background-color: var(--rtb-stripe-prev, transparent);
}

/*
* Paste Colors Details
* :before - inherited from parent
* :after - mask colour of previous element to create the swoop
* element - the color you expect
*/
.timer__value--start {
	--rtb-stripe: var(--rtb-light);
	--rtb-stripe-prev: var(--rtb-appbg);
}

.timer__value--days {
	--rtb-stripe: var(--rtb-middle);
	--rtb-stripe-prev: var(--rtb-light);
}

.timer__value--end {
	color: var(--rtb-middle);
	background-color: var(--rtb-times);
	--rtb-stripe: var(--rtb-dark);
	--rtb-stripe-prev: var(--rtb-middle);
}

button {
	font-size: 2em;
	padding: .5rem 0 1rem;
	width: 100%;
	cursor: pointer;
	border-radius: .5rem;
	color: inherit;
	background: none;
	border: 2px solid currentColor;
	border-radius: 1.5rem;
	box-shadow: inset 0 -.5rem var(--rtb-shadow, transparent);
}

@media only screen and (min-width:420px) {
	button {
		max-width: 75%;
	}
}

button:is(:hover, :active, :focus) {
	background-color: var(--rtb-middle);
	}

footer {
	letter-spacing: 0.025rem;
}

@media only screen and (orientation: landscape) {
	time {
		display: inline-block;
		padding: .5rem;
	}
}

/* Animated FadeIn Effect */
/* .has-updated time */
.has-date time {
	opacity: 0;
}

.has-date time {
	animation: fadedates .5s ease-in .1s forwards;
}

@keyframes fadedates {
	from {
		opacity: 0;
	} 
	to {
		opacity: 1;
	}
}