/* Colour Vars */
:root {
	--rtb-body: light-dark(#354fb9, #eee);
	--rtb-times:light-dark(#354fb9, #223a95);
	--rtb-appbg: light-dark(#aadeff, #16255e);
	--rtb-light: light-dark(#8bd4ff, #80c7f0);
	--rtb-middle: light-dark(#17d1f0, #08c2e0);
	--rtb-shadow: rgba(0,0,50,0.1);
	--rtb-radi: 1.75rem;
	--rtb-padding: 1rem;
	--rtb-padding-half: calc(var(--rtb-padding) / 2);
	--rtb-padding-double: calc(var(--rtb-padding) * 2);
}

@supports not (color: light-dark(#fff, #000)) {
	:root {
		--rtb-body: #354fb9;
		--rtb-times: #354fb9;
		--rtb-appbg: #aadeff;
		--rtb-light: #8bd4ff;
		--rtb-middle: #17d1f0;
	}
	
	@media (prefers-color-scheme: dark) {
		:root {
			--rtb-body: #eee;
			--rtb-times: #223a95;
			--rtb-appbg: #16255e;
			--rtb-light: #80c7f0;
			--rtb-middle: #08c2e0;
		}
	}
}

@property --rtb-stripe {
	syntax: "*";
	inherits: true;
	initial-value: transparent;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
	height: 100%;
	margin: 0;
}

body {
	padding: .5rem;
	scroll-padding-top: auto;
	font: normal 100%/1.5 system-ui, -apple-system, "Open Sans Regular", "Segoe UI", Thonburi, "Lucida Grande", Arial, sans-serif;
	text-align: center;
	align-content: center;
	align-content: safe center;
	color: #354fb9;
	color: var(--rtb-body);
	background-color: #d3eeff;
	background-color: var(--rtb-appbg);
	background-image: radial-gradient(#fff, var(--rtb-appbg));
}

@media (prefers-color-scheme: dark) {
    body {
	background-image: none
    }
}

.wrap {
	margin: auto;
	max-width: 480px;
}

@media only screen and (min-height:800px), only screen and (min-width: 500px) {
	body {
		padding: .75rem;
		font-size: 112.5%;
		display: flex;		
	}

	.wrap {
		flex: 1 1 auto;
	}
}

.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
	overflow: clip;
}

/* .highlight {
	color: inherit;
} */

.large {font-size: 3rem}

h1, p, button {
	margin: 0 auto 1rem;
}

h1 {
	padding-right: .25rem;
	line-height: 1;
	margin-bottom: 1rem;
}

.hero--font {
	font-weight: 800;
}

a {
	color: currentColor;
}

/* 
* Date Elements 
*/
.panel {
	position: relative;
	margin: 2rem auto;
}

[class^='timer__value--'] {
	position: relative;
	margin-top: calc(var(--rtb-padding) - calc(var(--rtb-padding) * 2.5));
	padding: var(--rtb-padding) var(--rtb-padding-half) var(--rtb-padding-double);
	background-color: var(--rtb-stripe, #59eac3);
	color: var(--rtb-times);
	border-radius: 0em var(--rtb-radi) 0 0;
}

[class^='timer__value--'] h3 {
	margin: 0 0 var(--rtb-padding-half);
	line-height: 1;
	font-weight: normal;
}

[class^='timer__value--'] time {
	display: block;
	margin-bottom: 0;
	font-size: 2.5rem;
	line-height: 1;
	font-variant-numeric: tabular-nums;
	text-transform: uppercase;
	transition: opacity .5s ease;
	opacity: 1;
	@starting-style {
	    opacity: .3;
	}
}

[class^='timer__value--']:first-of-type {
	margin-top: 0;	
}

[class^='timer__value--']:last-of-type {
	padding-bottom: var(--rtb-padding);
	border-bottom-right-radius: var(--rtb-radi);
	border-bottom-left-radius: var(--rtb-radi);
}

@supports (mask:radial-gradient(farthest-side at top right,transparent 98%,#000 100%)) or (-webkit-mask:radial-gradient(farthest-side at top right,transparent 98%,#000 100%)) {
	[class^='timer__value--']:before {
		position: absolute;
		content: "";
		display: block;
		width: var(--rtb-radi);
		height: var(--rtb-radi);
		top: 0;
		left: 0;
		-webkit-transform: translate(0, calc( 0px - var(--rtb-radi) ));
		transform: translate(0, calc( 0px - var(--rtb-radi) ));
		background-color: inherit;
		background-clip: border-box;
		-webkit-mask: radial-gradient(farthest-side at top right,transparent 98%,#000 100%);
		mask: radial-gradient(farthest-side at top right,transparent 98%,#000 100%);
		@supports (clip-path: shape(from 0 0, move to 0 0)) {
			-webkit-mask: none;
			mask: none;
			clip-path: shape(from 0% 0%, arc to 100% 100% of 100% 100%, line to 0% 100%, close);
		}
	}
}

/*
* Paste Colors Details
* :before - inherited from parent
* :after - mask colour of previous element to create the swoop
* element - the color you expect
*/
.timer__value--start {
	--rtb-stripe: var(--rtb-light);
}

.timer__value--days {
	--rtb-stripe: var(--rtb-middle);
}

.timer__value--end {
	color: var(--rtb-middle);
	--rtb-stripe: var(--rtb-times);
}

button {
	font-size: 2em;
	padding: .5rem 0 1rem;
	width: 100%;
	cursor: pointer;
	border-radius: .5rem;
	color: var(--rtb-times);
	background: #eee;
	background-clip: padding-box;
	border: 2px solid currentColor;
	border-radius: 1.5rem;
	box-shadow: inset 0 -.5rem var(--rtb-shadow, transparent);
}

@media only screen and (min-width:420px) {
	button {
		max-width: 80%;
	}
}

button:is(:hover, :active, :focus) {
	background-color: var(--rtb-middle);
	}

footer {
	letter-spacing: 0.025rem;
}

dialog:not([open]) {
	display: none
}

dialog {
	color: inherit;
	border-radius: 1rem;
	transition: opacity 0.3s ease-out, transform 0.3s ease-out, overlay 0.3s ease-out allow-discrete, display 0.3s ease-out allow-discrete;
	&[open] {
		opacity: 1;
		transform: scale(1);
		@starting-style {
			opacity: 0;
			transform: scale(0.7)
		}
	}
}

dialog button {
	font-size: 1.25rem;
	padding: .5rem 1.5rem;
	margin: .75rem;
	width: auto;
	background-clip: border-box;
}

dialog::backdrop {
	background-color: rgba(0, 0, 70, .3);
}
